{% extends 'base/main.html' %}
{% block form_1 %}
    <div class="form-container">
        <h1>Delete Analysis Methods</h1>
        <p>Here you can delete an analysis method. Please select the method you want to delete from the list.</p>
    </div>
{% endblock %}
{% block form_2 %}
    <div class="form-container">
        <h1>Delete Analysis Method</h1>
        <form method="post">
            <fieldset>
                {{ csrf_token }}
                {{ form.analysis_method_list }}
            </fieldset>
            <fieldset>
                {{ form.delete_analysis_method(class = "delete_button") }}
            </fieldset>
        </form>
    </div>
{% endblock %}
{% block form_3 %}
    {% from "helpers/_messagehelpers.html" import
    display_messages %} {{ display_messages() }}
{% endblock %}
