{% extends 'base/main.html' %}
{% block form_1 %}
    <div class="form-container">
        <h1>Edit Parameters</h1>
    </div>
{% endblock %}
{% block form_2 %}
    <div class="form-container">
        <form method="post">
            {% if "parameter" not in session %}
                <fieldset>
                    {{ form.parameters_list }}
                </fieldset>
                <fieldset>
                    {{ form.select_parameter(class="add_button") }}
                </fieldset>
            {% elif "parameter" in session %}
                <fieldset>
                    {{ form.parameter_name.label }}
                    {{ form.parameter_name }}
                    {{ form.parameter_unit.label }}
                    {{ form.parameter_unit }}
                </fieldset>
                <fieldset>
                    {{ form.commit_changes(class="add_button") }}
                </fieldset>
            {% endif %}
        </form>
    </div>
{% endblock %}
{% block form_3 %}
    {% from "helpers/_messagehelpers.html" import
    display_messages %} {{ display_messages() }}
{% endblock %}
