{% extends 'base/main.html' %}
{% block form_1 %}
    <div class="form-container">
        <h1>Parameters</h1>
        <p>
            Welcome to the Parameters page. Here you can add, edit, and delete parameters which can be associated with Process Steps.
        </p>
    </div>
{% endblock %}
{% block form_2 %}
    <div class="form-container">
        <form method="post">
            <fieldset>
                {{ form.add_parameter(class = "add_button") }}
            </fieldset>
            <fieldset>
                {{ form.edit_parameter(class = "edit_button") }}
            </fieldset>
            <fieldset>
                {{ form.delete_parameter(class = "delete_button") }}
            </fieldset>
        </form>
    </div>
{% endblock %}
{% block form_3 %}
    <div class="form-container">
        <form>
            <fieldset>
                <h2>Current Parameters</h2>
                {{ form.parameters_list }}
            </fieldset>
        </form>
        {% from "helpers/_messagehelpers.html" import
        display_messages %} {{ display_messages() }}
    </div>
{% endblock %}
