{% extends 'base/main.html' %}

{% block form_1 %}
<div class="form-container">
<h1>Registration</h1>
<p>
  Welcome to the registration page. Please fill in the form to register for an account. This will use your email as a
  unique identifier.
</p>
</div>
{% endblock %}

{% block form_2 %}
<div class="form-container">
<h1>Registration Form</h1>
{% from "helpers/_formhelpers.html" import render_field %}
{% from "helpers/_formhelpers.html" import render_form_button %}
<form method="post">
    {{ render_field(form.first_name)}}
    {{ render_field(form.last_name)}}
    {{ render_field(form.email) }}
    {{ render_field(form.password) }}
    {{ render_form_button(form.submit, class="add_button") }}  
</form>
</div>
{% endblock %}

{% block form_3 %}
{% from "helpers/_messagehelpers.html" import display_messages %}
{{ display_messages() }}
{% endblock %}


