<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
</head>



<body>

  {% include 'base/navbar.html' %}

  <section class="content">
    <div class="form-container">
      {% block form_1 %}

      {% endblock %}

    </div>
    <div class="form-container">

      {% block form_2 %}

      {% endblock %}

    </div>

    <div class="form-container">

      {% block form_3 %}

      {% endblock %}
    </div>

  </section>

</body>


</html>
