<nav>
  {% if "user" in session %}
  <div class="username">
    <p>
      User: {{session["user"]["first_name"]}} {{session["user"]["last_name"]}}
    </p>
    <a class="nav-button" href="{{ url_for('home.logout') }}">Logout</a>
  </div>
  <a class="nav_link" href="{{ url_for('home.index') }}">Home</a>
  <a class="nav_link" href="{{ url_for('cauldron.index') }}">Cauldron</a>
  <a class="nav_link" href="{{ url_for('data.index') }}">Data</a>

  {% else %}
  <a class="nav_link" href="{{ url_for('home.register') }}">Register</a>
  <a class="nav_link" href="{{ url_for('home.login') }}">Login</a>
  {% endif %}
</nav>
